[package]
name = "client"
version = "0.1.0"
edition = "2024"


[dependencies]
tokio = { version = "1.48.0",  features = ["rt-multi-thread", "macros"] }
tonic = { version = "0.14.2", features = ["transport"] }
common = { path = "../common" }